// Brand colors
// -------------------------
@brand-primary:         #243142; //darker than body background

// Scaffolding
// -------------------------
@text-color:            #FFF;
@body-bg:               #33465D;

// Links
// -------------------------
@link-color:            @gray-lighter;
@link-hover-color:      darken(@link-color, 15%);

// Typography
// -------------------------
@font-family-serif:       "Times New Roman", Times, serif;
@font-family-sans-serif:  "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
@font-family-base:        @font-family-sans-serif;
@headings-font-family:    @font-family-sans-serif;

// Tables
// -------------------------
@table-border-color:      darken(@body-bg, 30%); // table and cell border

// Buttons
// -------------------------

@btn-default-bg:                 #f0f0f0;
@btn-default-border:             @btn-default-bg;
@btn-primary-border:             @btn-primary-bg;
@btn-success-border:             @btn-success-bg;
@btn-warning-border:             @btn-warning-bg;
@btn-danger-border:              @btn-danger-bg;
@btn-info-border:                @btn-info-bg;

// Forms
// -------------------------

@input-bg:                       #fff;

@input-border:                   transparent;
@input-border-radius:            0;
@input-border-focus:             @input-border;

@input-group-addon-bg:           @input-border;
@input-group-addon-border-color: @input-border;

// Wells
// -------------------------
@well-bg:                     @body-bg;
@well-border:                 @body-bg;

// Type
// ------------------------
@headings-small-color:        @gray-lighter;
