<header class="clearfix">
    <div class="pull-left">
        <img class="avatar" src="{{ member.avatar }}" />
    </div>
    <div class="pull-left">
        <p>{{ member.name }}</p>
        <aside>{{ member.slogan }}</aside>
    </div>
    <div class="pull-right">
        <p class="small">{{ distance }}m</p>
        <!--<i class="fa fa-comment-o fa-2x"></i>-->
    </div>
</header>
<section class="tweet-body">
    <p>{{ content }}</p>
    <p>{{ #tags }}<span class="tag">#{{.}}</span>{{ /tags }}</p>
</section>
<footer class="clearfix">
    <div class="pull-left sadness">
        <p class="small">
            <span>悲情值</span>
            <strong>{{ sadness }}</strong>
        </p>
    </div>
    <div class="pull-right {{#retweeted}}highlight{{/retweeted}}">
        <i class="fa fa-retweet fa-lg"></i>
    </div>
    <div class="pull-right {{#liked}}highlight{{/liked}}">
        <i class="fa fa-heart-o fa-lg"></i>
    </div>
</footer>
